<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos | Editar Post</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/styles.css"> 
</head>
<body>
    <%- include('./partials/navbar'); %>
    <form action="/posteos/edit" method="get">
        <label for="posteoId">Selecciona un posteo para editar:</label>
        <select name="posteoId" id="posteoId">
            <% listaDePosteos.forEach((posteo) => { %>
                <option value="<%= posteo.id %>"><%= posteo.title %></option>
            <% }); %>
        </select>
        <button type="submit">Editar post</button>
    </form>
    <script src="../../public/js/bootstrap.js"></script>
</body>
</html>