<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos | Nuevo Post</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <%- include('./partials/navbar'); %>
    <form action="/posteos" method="post">
        <input type="text" name="title" placeholder="Título"><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="contenido"></textarea><br>
        <input type="text" name="image" placeholder="url de la imagen" id="">
        <button>Crear post</button>
    </form>
    <script src="../../public/js/bootstrap.js"></script>
</body>
</html>