<nav>
    <ul>
        <li><a href="/new">Crear posteo</a></li>
        <li><a href="http://localhost:4282">Todos los posteos</a></li>
        <li><a href="/edit">Editar un posteo</a></li>
        <li><a href="/delete">Eliminar un posteo</a></li>
    </ul>
</nav>
